.App{
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(10%);
  position: relative;
}

@media screen and (max-width: 768px){
  *{
    transform: translateX(1%);
    padding: 0px 2px 0px 2px;
  }
}
