.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile h3{
    text-align: center;
}

#profile_img{
    width: 88px ;
    height: 88px;
    border-radius: 50%;
    margin: 5rem 0 -1rem 0;
}

#profile_img:hover{
    box-shadow: 2px 3px 2px grey;
}

#slack{
opacity: 0;
margin: -15px 0 -12px 0;
}

